{% extends 'base.html.twig' %}

{% block title %}RBC Feed{% endblock %}

{% block page_contents %}
    <div class="card-columns">
    {% for article in articles %}
            <div class="card">
                {% if article.imageUrl %}
                    <img src="{{ article.imageUrl }}" class="img-thumbnail rounded mx-auto d-block"
                         style="width: 17rem;"
                         alt="{{ article.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}...</p>
                    <a href="{{ article.url }}" class="btn btn-primary">Подробнее...</a>
                </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}