<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>RBC news</h2>
    </div>

    {% block page_contents %}{% endblock %}


    <div class="alert alert-dark" role="alert">
        &copy; <a href="https://github.com/DnAp" class="alert-link">DnAp</a>, Oct 2020
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>